/* Footer */

.footer {
    grid-row: 3;
    grid-column: 1 / span 5;
    display: list-item;
    text-align: center;
    border-top: 4px solid $font-color;
    background-color: $background-color;
    color: $font-color;
    justify-content: center;
    padding: 0;

    p {
        color: $font-color;
        margin-top: 1.4rem;
        text-align: center;

    }

    a {
        color: transparent;
    }

    .social {
        font-size: 2rem;
        text-align: center;
        justify-content: center;
        margin-bottom: 0.4rem;
    }

}