@import '../../node_modules/normalize.css/normalize';
@import 'variables';

@import 'blockquotes';
@import 'code';
@import 'mobilenav';
@import 'technology';
@import 'Typografy';
@import 'footer';

@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';



ol,
ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html,
body {
    height: 100%;
    background-color: $background-color;
}

/* Placement */

body {
    display: flex;
    flex-direction: column;
}

.main {
    width: 80%;
    margin: 0 auto;
    flex: 1;
    background-color: transparent;
}

p {
    margin-bottom: 1.4rem;
    font-size: 1.1em;
}

.header,
.footer {
    flex: 0 0 auto;

}

/* Header */

.header,
.site-header {
    display: flex;
    justify-content: space-between;
}


.nav a {
    text-decoration: none;
    color: $font-color;
}

.nav a:hover {
    text-decoration: underline;
    color: #abc4ff;
}

.logo {
    margin-left: 10px;
    filter: none;

}

.title {
    * {
        padding: 1em 1em 1em 0;
        color: $font-color;
        display: flex;
        flex-direction: row;
        margin: 20px;
        line-height: 1em;
    }

    .title p {
        font-style: italic;
    }


}

.analysisimg{
    width: 50%;
    float: right;
    margin: 1rem 0 0 20px;
    border: 5px solid #000;
}


img {
    width: 40%;
}

.boldtext{
    font-weight: bold;
    font-size: 1.5em;
}