@import '../../node_modules/normalize.css/normalize';
@import 'variables';

@import 'blockquotes';
@import 'code';
@import 'mobilenav';

@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    color: $font-color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

body {
  background-color: $background-color;
}


ol, ul {
  padding-left: 1.5em;
}

.hidden {
  display: none !important;
}

html, body {
  height: 100%;
}

/* Placement */

body {
  display: flex;
  flex-direction: column;
}

.main {
  width: 80%;
  margin: 0 auto;
  flex:  1;
}
p {
  margin-bottom: 1.4rem;
  font-size: 1.1em;
}

.header, .footer {
  flex: 0 0 auto;

}

/* Header */

.header, .site-header {
  display: flex;
  justify-content: space-between;
}

.nav a{
  text-decoration: none;
}
.nav a:hover{
  text-decoration: underline;
  color: red;
}

/* Title */

.title, .logo {
  padding: 3em 3em 3em 0;
}

@media (max-width: 767px) {
  .title, .logo {
      padding: 1em 1em 1em 0;
  }
  .title {
      min-width: 50%;
  }
}

.title {
  * {
    color: #111;
    display: flex;
    flex-direction: row;
    margin: 20px;
  }

  .title p {
    font-style: italic;
  }

  .title h1 {
    line-height: 30px;
  }
} 


/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 4px solid $accent-color;
  background-color: #222;
  color: #fff;
  padding: 4rem 6rem;

  a {
    color: #fff;
  }
  .social {
    font-size: 2rem;
    margin-top: auto;
    align-self: flex-end;
  }

}

/* Typografy */

body {
  font-family: sans-serif;
  line-height: 1.4rem;
}

p, td, th, li, dd {
  text-align: justify;
  overflow-wrap: break-word;
  word-wrap: break-word;

}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.6em;
  font-weight: bold;
  letter-spacing: 0.2em;

}

img {
  width: 40%;
}